#container{
    margin-top: -4.5rem;

    .div1{
        background: #7b5ae4;
        height: 35vh;
    }
    
    .div2{
        background: gray;
        height: 44vh;
    }

    .div3{
        background: #00192b;
        height: 16vh;
    }
}