p {
    font-family: Raleway, sans-serif;
    font-weight: 900;

    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-family: Raleway, sans-serif;
        font-weight: 400
    }
}

